.container {
    .projects-card {
        background-color: black;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: yellowgreen;

        h1 {
            @media (max-width: 500px) {
                font-size: 20px;
            }
        }

        .project {
            h3 {
                @media (max-width: 500px) {
                    font-size: 13px;
                }
            }

            p {
                margin: 10px;

                @media (max-width: 500px) {
                    font-size: 10px;
                }
            }

            .project-img {
                width: 50%;
                border: 1px solid yellowgreen;

                @media (max-width: 500px) {
                    width: 70%;
                }
            }

            .project-img-servable {
                width: 20%;
                border: 1px solid yellowgreen;

                @media (max-width: 500px) {
                    width: 50%;
                }
            }
        }

    }
}