.container {
    .skills-card {
        background-color: yellowgreen;
        width: 90%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: black;

        .skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .skill {
                padding: 20px;
                margin: 20px;

                .icon {
                    font-size: 150px;
                }
            }

        }
    }
}